<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.base.frame">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application>
        <!--系统监听-->
        <receiver android:name=".utils.NetworkStateReceiver">
            <intent-filter>
                <action android:name="android.NET.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
